@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    background-color: rgb(2, 4, 54);
}

.super-secret-message {
    position: fixed;
    right: 1px;
    bottom: 1px;
    font-size: 0.3rem;
    color: rgb(146, 0, 0);
    font-weight: bold;
}